# Understanding Pandas Series and DataFrames - Lab

## Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

## Let's get started!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Rename all the columns to lower case

In [3]:
df.columns=df.columns.str.lower()
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries',
       'exits                                                               '],
      dtype='object')

## Change the Index to be the Line Names

In [4]:
df.set_index('linename')

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,16:00:00,REGULAR,6736873,2283587
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,20:00:00,REGULAR,6737067,2283631
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,00:00:00,REGULAR,6737136,2283656
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,04:00:00,REGULAR,6737146,2283658
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,08:00:00,REGULAR,6737169,2283736
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,12:00:00,REGULAR,6737301,2283965
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,16:00:00,REGULAR,6737553,2284025
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,20:00:00,REGULAR,6738257,2284091
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,00:00:00,REGULAR,6738430,2284121
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,04:00:00,REGULAR,6738442,2284126
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,08:00:00,REGULAR,6738474,2284216
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,12:00:00,REGULAR,6738621,2284402
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,16:00:00,REGULAR,6738886,2284425
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,20:00:00,REGULAR,6739630,2284478
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,00:00:00,REGULAR,6739804,2284508
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,04:00:00,REGULAR,6739812,2284512
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,08:00:00,REGULAR,6739847,2284600
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,12:00:00,REGULAR,6739986,2284838
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,16:00:00,REGULAR,6740257,2284896
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,20:00:00,REGULAR,6740888,2284941
...,...,...,...,...,...,...,...,...,...,...
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,01:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,05:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,09:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,13:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,17:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,21:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,01:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,05:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,09:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,13:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,17:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,21:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,01:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,05:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,09:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,13:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,17:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,21:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,01:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,05:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,09:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,13:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,17:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,21:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,01:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,05:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,09:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,13:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,17:00:00,REGULAR,5554,348
R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,21:00:00,REGULAR,5554,348

## Painstakingly change the index back

In [5]:
a = list(range(len(df)))
len(a)
#df.reset_index(inplace=True)
#df
#df.drop('index', axis =1, inplace = True )
#df.drop('level_0', axis =1, inplace = True )
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

In [6]:
df.station.unique()

array(['59 ST', '5 AV/59 ST', '57 ST-7 AV', '49 ST', 'TIMES SQ-42 ST',
       '34 ST-HERALD SQ', '28 ST', '23 ST', '14 ST-UNION SQ', '8 ST-NYU',
       'PRINCE ST', 'CANAL ST', 'CITY HALL', 'CORTLANDT ST', 'RECTOR ST',
       'WHITEHALL S-FRY', 'DELANCEY/ESSEX', 'BOWERY', 'CHAMBERS ST',
       'FULTON ST', 'BROAD ST', '7 AV', 'PARK PLACE', 'BOTANIC GARDEN',
       'PROSPECT PARK', 'PARKSIDE AV', 'CHURCH AV', 'BEVERLEY ROAD',
       'CORTELYOU RD', 'NEWKIRK PLAZA', 'AVENUE H', 'AVENUE J',
       'AVENUE M', 'KINGS HWY', 'AVENUE U', 'NECK RD', 'SHEEPSHEAD BAY',
       'BRIGHTON BEACH', 'OCEAN PKWY', 'BOROUGH HALL', 'JAY ST-METROTEC',
       'DEKALB AV', 'ATL AV-BARCLAY', 'UNION ST', '4AV-9 ST',
       'PROSPECT AV', '25 ST', '36 ST', '45 ST', '53 ST', 'BAY RIDGE AV',
       '77 ST', '86 ST', 'BAY RIDGE-95 ST', '8 AV', 'FT HAMILTON PKY',
       'NEW UTRECHT AV', '18 AV', '20 AV', 'BAY PKWY', '9 AV', '50 ST',
       '55 ST', '71 ST', '79 ST', '25 AV', 'BAY 50 ST', 'CONEY IS-STILLW',
       'W 8 ST-AQUARIUM', '6 AV', '3 AV', '1 AV', 'BEDFORD AV',
       'LORIMER ST', 'GRAHAM AV', 'GRAND ST', 'MONTROSE AV', 'MORGAN AV',
       'JEFFERSON ST', 'MYRTLE-WYCKOFF', 'HALSEY ST', 'WILSON AV',
       'BUSHWICK AV', 'ATLANTIC AV', 'SUTTER AV', 'LIVONIA AV',
       'NEW LOTS', 'EAST 105 ST', 'CANARSIE-ROCKAW', 'HOWARD BCH JFK',
       'JFK JAMAICA CT1', 'MARCY AV', 'HEWES ST', 'FLUSHING AV',
       'MYRTLE AV', 'KOSCIUSZKO ST', 'GATES AV', 'CHAUNCEY ST',
       'ALABAMA AV', 'VAN SICLEN AV', 'CLEVELAND ST', 'NORWOOD AV',
       'CRESCENT ST', 'CYPRESS HILLS', '75 ST-ELDERTS', '85 ST-FOREST PK',
       'WOODHAVEN BLVD', '104 ST', '111 ST', '121 ST', 'CENTRAL AV',
       'KNICKERBOCKER', 'SENECA AVE', 'FOREST AVE', 'FRESH POND RD',
       'METROPOLITAN AV', 'INWOOD-207 ST', 'DYCKMAN ST', '190 ST',
       '181 ST', '175 ST', '168 ST', '155 ST', '145 ST', '135 ST',
       '125 ST', '116 ST', '103 ST', '96 ST', '81 ST-MUSEUM',
       '59 ST COLUMBUS', '42 ST-PORT AUTH', '34 ST-PENN STA', '14 ST',
       'W 4 ST-WASH SQ', 'SPRING ST', 'WORLD TRADE CTR', 'HIGH ST',
       'HOYT-SCHER', 'LAFAYETTE AV', 'CLINTON-WASH AV', 'FRANKLIN AV',
       'NOSTRAND AV', 'KINGSTON-THROOP', 'UTICA AV', 'RALPH AV',
       'ROCKAWAY AV', 'BROADWAY JCT', 'LIBERTY AV', 'VAN SICLEN AVE',
       'SHEPHERD AV', 'EUCLID AV', 'GRANT AV', '80 ST', '88 ST',
       'ROCKAWAY BLVD', 'OZONE PK LEFFRT', 'AQUEDUCT N.COND',
       'AQUEDUCT RACETR', 'BROAD CHANNEL', 'BEACH 90 ST', 'BEACH 98 ST',
       'BEACH 105 ST', 'ROCKAWAY PARK B', 'BEACH 67 ST', 'BEACH 60 ST',
       'BEACH 44 ST', 'BEACH 36 ST', 'BEACH 25 ST', 'FAR ROCKAWAY',
       '161/YANKEE STAD', '167 ST', '170 ST', 'TREMONT AV', '182-183 STS',
       'FORDHAM RD', 'KINGSBRIDGE RD', 'BEDFORD PK BLVD',
       'NORWOOD 205 ST', '5 AV/53 ST', 'LEXINGTON AV/53',
       'COURT SQ-23 ST', 'QUEENS PLAZA', 'STEINWAY ST', '46 ST',
       'NORTHERN BLVD', '65 ST', 'JKSN HT-ROOSVLT', 'ELMHURST AV',
       'GRAND-NEWTOWN', '63 DR-REGO PARK', '67 AV', 'FOREST HILLS 71',
       '75 AV', 'KEW GARDENS', 'BRIARWOOD', 'SUTPHIN BLVD',
       'PARSONS BLVD', '169 ST', 'JAMAICA 179 ST', 'COURT SQ', '21 ST',
       'GREENPOINT AV', 'NASSAU AV', 'BROADWAY', 'MYRTLE-WILLOUGH',
       'BEDFORD-NOSTRAN', 'CLASSON AV', '47-50 STS ROCK',
       '42 ST-BRYANT PK', "B'WAY-LAFAYETTE", '2 AV', 'EAST BROADWAY',
       'YORK ST', 'BERGEN ST', 'CARROLL ST', 'SMITH-9 ST', '4 AV-9 ST',
       '15 ST-PROSPECT', 'DITMAS AV', 'AVENUE I', 'AVENUE N', 'AVENUE P',
       'AVENUE X', 'NEPTUNE AV', 'LEXINGTON AV/63', 'ROOSEVELT ISLND',
       '21 ST-QNSBRIDGE', 'JAMAICA VAN WK', 'SUTPHIN-ARCHER',
       'JAMAICA CENTER', '72 ST-2 AVE', '86 ST-2 AVE', '96 ST-2 AVE',
       'ORCHARD BEACH', 'NEWARK HW BMEBE', 'HARRISON', 'JOURNAL SQUARE',
       'GROVE STREET', 'EXCHANGE PLACE', 'PAVONIA/NEWPORT', 'CITY / BUS',
       'CHRISTOPHER ST', '9TH STREET', '14TH STREET', 'TWENTY THIRD ST',
       'THIRTY ST', 'LACKAWANNA', 'THIRTY THIRD ST', 'NEWARK BM BW',
       'NEWARK C', 'NEWARK HM HE', 'PATH WTC 2', 'PATH NEW WTC',
       'SOUTH FERRY', 'WALL ST', 'FRANKLIN ST', 'HOUSTON ST', '18 ST',
       '66 ST-LINCOLN', '72 ST', 'CATHEDRAL PKWY', '116 ST-COLUMBIA',
       '137 ST CITY COL', '157 ST', '191 ST', '207 ST', '215 ST',
       'MARBLE HILL-225', '231 ST', '238 ST', 'V.CORTLANDT PK',
       'BOWLING GREEN', 'BROOKLYN BRIDGE', 'BLEECKER ST', 'ASTOR PL',
       '33 ST', 'GRD CNTRL-42 ST', '51 ST', '68ST-HUNTER CO', '110 ST',
       '138/GRAND CONC', '149/GRAND CONC', 'MT EDEN AV', '176 ST',
       'BURNSIDE AV', '183 ST', 'MOSHOLU PKWY', 'WOODLAWN',
       'CENTRAL PK N110', 'HARLEM 148 ST', '3 AV-149 ST', 'JACKSON AV',
       'INTERVALE AV', 'SIMPSON ST', 'FREEMAN ST', '174 ST',
       'WEST FARMS SQ', 'E 180 ST', 'BRONX PARK EAST', 'PELHAM PKWY',
       'ALLERTON AV', 'BURKE AV', 'GUN HILL RD', '219 ST', '225 ST',
       '233 ST', 'NEREID AV', 'WAKEFIELD/241', '3 AV 138 ST', 'BROOK AV',
       'CYPRESS AV', "E 143/ST MARY'S", 'E 149 ST', 'LONGWOOD AV',
       'HUNTS POINT AV', 'WHITLOCK AV', 'ELDER AV', 'MORISN AV/SNDVW',
       'ST LAWRENCE AV', 'PARKCHESTER', 'CASTLE HILL AV', 'ZEREGA AV',
       'WESTCHESTER SQ', 'MIDDLETOWN RD', 'BUHRE AV', 'PELHAM BAY PARK',
       '5 AVE', 'VERNON-JACKSON', 'HUNTERS PT AV', 'QUEENSBORO PLZ',
       '36 AV', '30 AV', 'ASTORIA BLVD', 'ASTORIA DITMARS',
       '33 ST-RAWSON ST', '40 ST LOWERY ST', '46 ST BLISS ST', '52 ST',
       '61 ST WOODSIDE', '69 ST', '74 ST-BROADWAY', '82 ST-JACKSON H',
       '90 ST-ELMHURST', 'JUNCTION BLVD', '103 ST-CORONA',
       'METS-WILLETS PT', 'FLUSHING-MAIN', '34 ST-HUDSON YD', 'CLARK ST',
       'HOYT ST', 'NEVINS ST', 'GRAND ARMY PLAZ', 'EASTN PKWY-MUSM',
       'KINGSTON AV', 'CROWN HTS-UTICA', 'SUTTER AV-RUTLD', 'SARATOGA AV',
       'JUNIUS ST', 'PENNSYLVANIA AV', 'NEW LOTS AV', 'PRESIDENT ST',
       'STERLING ST', 'WINTHROP ST', 'BEVERLY RD', 'NEWKIRK AV',
       'FLATBUSH AV-B.C', 'MORRIS PARK', 'BAYCHESTER AV',
       'EASTCHSTER/DYRE', 'ST. GEORGE', 'TOMPKINSVILLE', 'RIT-ROOSEVELT'],
      dtype=object)

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order

In [7]:
df['Num_lines'] = df.linename.map(lambda x: len(x))
#df['Num_lines']
#df['linename']

## Write a function to clean a column name

In [8]:
def clean(col_name):
    cleaned = col_name.lower()
    return cleaned

In [9]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [10]:
#Checking the output, we can see the results.
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries',
       'exits                                                               ',
       'num_lines'],
      dtype='object')

## Compare subway traffic by day of the week. Display this as a graph.

In [11]:
import datetime

In [17]:
df.date = pd.to_datetime(df.date)
type(df.date[1])

pandas._libs.tslibs.timestamps.Timestamp

In [35]:
df['dayoweek'] = df['date'].dt.dayofweek

df.dayoweek
df.head()
#df.columns

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,num_lines,dayoweek
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,00:00:00,REGULAR,6736067,2283184,7,5
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,04:00:00,REGULAR,6736087,2283188,7,5
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,08:00:00,REGULAR,6736105,2283229,7,5
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,12:00:00,REGULAR,6736180,2283314,7,5
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,16:00:00,REGULAR,6736349,2283384,7,5

In [40]:
def dow_num_to_day(num, col):
    if (num[col] > 6).any():
        return print('no such day')
    day_list = ['mon','tues','weds','thurs','fri','sat','sun']
    num['day_text'] = num[col].map(lambda x: day_list[x])
    return num['day_text']
    #n_list=list(range(0,7,1))
    #daytups = zip(n_list,day_list)

In [41]:
num/
#dow_num_to_day(df, 'dayoweek')

0           sat
1           sat
2           sat
3           sat
4           sat
5           sat
6           sun
7           sun
8           sun
9           sun
10          sun
11          sun
12          mon
13          mon
14          mon
15          mon
16          mon
17          mon
18         tues
19         tues
20         tues
21         tues
22         tues
23         tues
24         weds
25         weds
26         weds
27         weds
28         weds
29         weds
          ...
197595      mon
197596      mon
197597      mon
197598      mon
197599      mon
197600      mon
197601     tues
197602     tues
197603     tues
197604     tues
197605     tues
197606     tues
197607     weds
197608     weds
197609     weds
197610     weds
197611     weds
197612     weds
197613    thurs
197614    thurs
197615    thurs
197616    thurs
197617    thurs
197618    thurs
197619      fri
197620      fri
197621      fri
197622      fri
197623      fri
197624      fri
Name: day_text, Length: 197625, dtype: object

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes

In [ ]:
#Your code here

## Drop a couple of columns

In [ ]:
# Your code here

## Summary

Great! You practiced your data cleanup-skills using Pandas.